.header-main {
  background-color: #05386b;
  height: 10.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5vw;

  font-weight: 500;

  color: #edf5e1;
}
.nolink {
  text-decoration: none;
  color: #000;
}
